.buttons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  width: 90vw;
  max-width: 1000px;
}

/* When number of buttons is > 4, min-width is 100px. Especially useful for mobile display where they wouldnt fit on 1 screen */

.buttons-container.small-buttons {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 55px;
}

.buttons-container.one-button {
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
  background-color: #142C49;
  background-image: linear-gradient(to bottom, rgb(32, 60, 95) 0%, #142C49 40%, #142C49 60%,rgb(19, 38, 61) 100%);
  /* background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%); */
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  padding: 15px 10px;
  border: 1px solid #70B0FF;
  border-radius: 8px;
  outline: none;
}

.button:hover {
  border-color: #FFC357;
  background-image: linear-gradient(to bottom, #b37d1948 0%, #142C49 20%, #142C49 60%,rgb(19, 38, 61) 100%);
  color: #fff;
}

.info {
  padding: 0 10px;
  text-shadow: 0 0 8px #000;
}