.history-container {
  margin: 20px;
}
.history {
  display: flex;
  flex-direction: column;
}
.history-question {
  cursor: pointer;
  margin-top: 0;
  font-size: 12px;
  color: #70B0FF;
  margin-bottom: 3px;
}

.history-answer {
  color: #eee;
}

@media all and (min-width: 720px) {
  .history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
  }
}

@media all and (min-width: 1300px) {

  .history-question {
    font-size: 14px;
  }
}