.progress {
  position: relative;
  max-width: 1000px;
  z-index: 5;
  /* height: 100px; */
  margin: 0 auto;
}

.circular-gauge {
  position: absolute;
  top: 30px;
  left: 20px;
}

.circular-gauge__outline {
  stroke-width: 2px;
  stroke: #436A99;
  fill: transparent;
}

.circular-gauge__progression {
  stroke-width: 6px;
  stroke: #70B0FF;
  fill: transparent;
  stroke-dasharray: 1000;
  /* dashoffset make full circle at 760 and empties at 1000 */
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s;
}

.back-button {
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 9px 10px;
  cursor: pointer;
  outline: none;
}

.back-button__circle {
  fill: transparent;
  stroke: #70B0FF;
  stroke-width: 2px;
}

.back-button__arrow {
  fill: #fff;
}

.back-button:hover .back-button__circle {
  stroke: #FFC357;
}
.back-button:hover .back-button__arrow {
  fill: #FFC357;
}

@media all and (min-width: 720px) {

  .back-button {
    top: 100px;
  }
  .circular-gauge {
    top: 100px;
  }
}