.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container.slide-left-in {
  animation: slideLeftIn .5s ease-out forwards;
}

.form-container.slide-left-out {
  animation: slideLeftOut .5s ease-in forwards;
}

@keyframes slideLeftIn {
  from {transform: translateX(100vw);}
  to {transform: translateX(0);}
}
@keyframes slideLeftOut {
  from {transform: translateX(0);}
  to {transform: translateX(-100vw);}
}

.question-icon {
  width: 150px;
}

.question {
  font-weight: 300;
}

.sub-question {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 40px;
}

.button-and-info p {
  text-align: center;
}