.iphone-case {
  fill: #142c49;
  stroke: #70b0ff;
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
}

.iphone-case__case {
  animation: iphoneCase 3s linear infinite;
}

@keyframes iphoneCase {
  0% { fill: #b37c19; stroke: #ffc357; }
  50% { fill: #142c49; stroke: #70b0ff; }
  100% { fill: #b37c19; stroke: #ffc357; }
}
