.capacities {
  stroke: #70b0ff;
  fill: #142c49;
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
}

.capacity-case {
  stroke: #70b0ff;
  fill: #142c49;
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
}

.capacity-low {
  animation: capacityActive 3s infinite;
}
.capacity-mid {
  animation: capacityActive 3s 1s infinite;
}
.capacity-high {
  animation: capacityActive 3s 2s infinite;
}

@keyframes capacityActive {
  0% { fill: #142c49; stroke: #70b0ff; }
  10% { fill: #b37c19; stroke: #ffc357; }
  80% { fill: #142c49; stroke: #70b0ff; }
  100% { fill: #142c49; stroke: #70b0ff; }
}
