.mail__outline {
  fill: #142c49;
  stroke: #436a99;
  stroke-miterlimit: 10;
  stroke-width: 0.20px;
}

.mail__outside {
  fill: #436a99;
}

.mail__inside {
  animation: mailInside 3s linear infinite;
}

@keyframes mailInside {
  0% { fill: #b37c19 }
  50% { fill: #142c49 }
  100% { fill: #b37c19 }
}

.mail__at-sign {
  animation: mailAtSign 3s linear Infinite;
}

@keyframes mailAtSign {
  0% { fill: #ffc357 }
  50% { fill: #436a99 }
  100% { fill: #ffc357 }
}
