.cls-1 {
  fill: #142c49;
}

.cls-2 {
  fill: none;
  stroke: #436a99;
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
}

.cls-3 {
  fill: #436a99;
}

.cls-4 {
  fill: #b37c19;
}

.cls-5 {
  fill: #ffc357;
}